
body{
    background-image: url(image/front.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100vw;

}

.navbar-toggler{
    outline: none;
    border: none;
    
}


.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon{
    width: 30px;
    height: 3px;
    background-color: #c0700b;
    display: block;
    transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar{
    margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
    background-color: #dbdde1;
}


.nav-item{
    padding-left: 20px;
}

.navbar-toggler{
    padding: 10px 0 10px 10px;

}

.navbar-nav .nav-item .nav-link{
    font-family: Helvetica;
    font-weight: bolder;
    display: inline-block;
    position: relative;
    color: #c0700b;
}

.navbar-nav .nav-item .nav-link:after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #c0700b;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar-nav .nav-item .nav-link:hover:after{

    transform: scaleX(1);
    transform-origin: bottom left;

}


.navbar {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #101010;

}

.navbar-brand span{
    color: #c0700b;
}



.container{
    margin-top: 25vh;
}



.col-md h1{
    font-family: Helvetica;
    font-size: 25px;
    color: #dbdde1;
}

.col-md h2{
    font-family: Helvetica;
    font-size: 50px;
    color: #dbdde1;

}



/* Button */
.button{
    position:relative;
    display:inline-block;
    margin:20px 20px 20px 0;
  }
  
  .button a{
    color:white;
    font-family:Helvetica, sans-serif;
    font-weight:bold;
    font-size:20px;
    text-align: center;
    text-decoration:none;
    background-color:#c0700b;
    display:block;
    position:relative;
    padding:5px 10px;
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  .button a:active{
    top:10px;
    background-color:#F78900;
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  }
  
  .button:after{
    content:"";
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    background-color:#2B1800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }


.footer-copyright h4{
    font-size: 18px;

}

@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';


.text {
  font-weight: 100;
  font-size: 20px;
  color: #fafafa;
  font-family: Helvetica;
}
.dud {
  color: #757575;
}






    .page-footer{
        background-color: #101010;
        padding: 30px;
        
        
    
    }
    
    .page-footer .col-md small{
        
        font-size: 15px;
        height: fit-content;
        color: white;
        
        
    
    }
    
    .page-footer .col-md .fab{
        color: white;
        height: auto;
        
        
    
    }


@media (max-width: 1000px ) {

    body{
        background-color: #000000;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100vw;
        
    
    }

    .container{
        text-align: center;
    }

    .col-md h1{
        font-family: Helvetica;
        font-size: 25px;
        color: #dbdde1;
        
    }
    
    .col-md h2{
        font-family: Helvetica;
        font-size: 50px;
        color: #dbdde1;
        
    
    }
    
    .col-md p{
        font-family: Helvetica;
        color: #dbdde1;
        
    }
    .col-md button{
        width: 140px;
        border:0;
        padding: 12px 10px;
        outline: none;
        color: #fff;
        background: #c0700b;
        border-radius: 6px;
        cursor: pointer;
        
        
    
    
    }
    
    .col-md button:hover{
        color: #dbdde1;
        background-color: #c06f0b2d;
    }
    
    


    
        


    
}

@media (min-width: 1000px ){
    .navbar-brand {
        display: none;
        color: #c0700b;
    }



}