*{
    margin: 0;
    padding: 0;
    
}

.main{
    background-image: url(image/BG.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    
}

.nav{
    overflow: hidden;
    margin-top: -4px;
    background-color: #101010;
    border-radius: 12px;
    height:45px;
    list-style: none;  
    

}

ul{
    
    display: flex;
    justify-content: center;
    list-style-type: none;
    
}

ul li{
    
    margin-left: 55px;
    margin-top: 15px;
    font-size: 17px;
    white-space: nowrap;
    font-family: Helvetica;
    position: relative;
    left: -35px;
    
}


ul li a{
    text-decoration: none;
    color: #dbdde1;
    transition: 0.1s ease-in-out;
    text-align: center;
    display: block;
    float: none;

}

.nav a.active{
    color: #c0700b;

}

ul li a:hover{
    color: #c0700b;

}

.content{
    width: 1200px;
    margin: auto;
    height: auto;
    color: #dbdde1;
    
}

.content h2{

    position: relative ;
    font-family: Helvetica;
    font-size: 25px;
    padding-left: 0px;
    margin-top: 15%;
    letter-spacing: 2px;
    font-weight: lighter;
    letter-spacing: -0.5px;
    top: 70px;
    
    
}

.content h3{
    position: relative ;
    font-family: Helvetica;
    font-size: 42px;
    padding-left: 0px;
    letter-spacing: 2px;
    font-weight: bolder;
    letter-spacing: -1px;
    z-index: 100;
    top: 70px;
    

}

.content a{
    color: #c0700b;
    font-family: Helvetica;
    top: 70px;
    position: relative;
    text-decoration: none;
}
.content h4{
    color: #dbdde1;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    top: 70px;
    position: relative;
    

}



.content img{
    float: right;
    position: relative;
    top: -400px;
    right: -70px;
    mix-blend-mode: lighten;
    
    

}

.footer{
    position: fixed;
    left: 0;
    bottom: 35px;
    right: 0;
    width: auto;
    text-align: right;
    border-top: 3px solid #6B7280;
    margin-right: 18.9%;
    margin-left: 18.9%;


}

.footer h4{
    position: absolute;
    font-size: 16px;
    text-align: left;
    margin-top: auto;
    top: 20px;
    color: white;

}

a img{
    position: relative;
    margin-top: auto;
    text-align: right;
    top: 20px;
    padding-left: 5px;

}

a{
    text-decoration: none !important;
    border: 0 !important;
    outline: none;
    
}